{% extends "layout.html" %}
{% block heading %}


{% endblock %}
{% block body %}
<h1>Đăng kí môn học</h1>
<form action="{{url_for('book')}}" method="POST">
  <select name ="idmh">
     {% for mh in mhs %}
         <option value="{{mh.id}}" >{{mh.mamh}} - {{mh.ten}} - Số tín:{{mh.sotin}} - Giảng viên:{{mh.giangvien}} - Còn lại:{{mh.conlai}}</option>
     {% endfor %}
  </select> 
  <button type="submit">Đăng kí</button> 
</form>
{% with messages = get_flashed_messages() %}
      <h2> {{messages[0]}} </h2>
{% endwith %}
{% endblock %}